/* Selector  { propiedad : valor ; ... } */

body{
    background-color: #055160;
}
p,h4,h5{
    color:white;
}
.barra_navegacion{
    border: 2px solid white;
    text-align: center;
}

.contenido p,h5 {
    color: #a52834;
    font-style: italic;
}
.pie_paguina{
    border: 2px solid white;
    text-align: center;
}
.pie_paguina p {
    padding: 0;
    margin: 0;
}
